body {
    display: flex;
    height: 100vh;
    background-color: #edf2f4;
    background-image: linear-gradient(to right top, #557b8e 0%, #c7e5ce 100%);
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}


/* CONTAINER */

.l-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 1%;
    height: 90vh;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.l-row {
    display: flex;
    height: 100%;
}


/* HEADER */

.l-header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.l-header .input-field {
    margin: 0;
    width: 45%;
}


/* TABLE */

.l-table {
    background-color: #f8f8f8;
    margin-right: 1%;
    height: 100%;
    width: 100%;
}

.l-table table {
    height: 100%;
}

.l-table table,
.l-table tbody,
.l-table thead {
    display: flex;
    flex-direction: column;
}

.l-table thead {
    display: block;
    background-color: #d6dfff;
}

.l-table tbody {
    overflow-y: auto;
}

.l-table tr {
    display: flex;
    flex: 1 0;
}

.l-table td,
.l-table th {
    border-right: 1px solid #d4d4d4;
    width: 40%;
    border-radius: 0;
    text-align: center;
}

.l-table td:first-child,
.l-table th:first-child {
    width: 10%;
}

.l-table td:last-child,
.l-table th:last-child {
    width: 10%;
}

.l-table_edit,
.l-table_del {
    margin: 0 !important;
    cursor: pointer;
}

.l-table_edit {
    color: #00c500;
}

.l-table_del {
    color: red;
}

.l-table_edit:hover {
    color: #00b300;
}

.l-table_del:hover {
    color: #e60000;
}


/* LOG */

.l-log {
    background-color: #edf2f4;
    flex-grow: 3;
    padding: 0;
    margin: 0;
    width: 50px;
    overflow-y: auto;
}

.l-log li {
    padding: 5px;
}


/* ICON */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/icon.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}